<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Nova Movimentação finanaceira</title>
    <link rel="stylesheet" href="../../style.css"/>
</head>
<body>
<header>
    <nav class="menu">
        <div class="nav-wrapper">
            <h3 class="tille-one">Cadastrar Novas Movimentação </h3>
            <a href="/" class="btn-nav">Lista de Movimentação finanaceira</a>
        </div>
    </nav>
</header>
<div class="container">
    <div class="box-list">
        <form>
            <div class="">
                <div class="">
                    Selecione o Arquivo: <input id="file" type="file" name="file"/>
                </div>
            </div>
            <button class="btn-submit " id="btn-submit" type="button">Salvar</button>
        </form>
    </div>
</div>
<script  type="text/javascript" src="../../form.js"></script>
</body>
</html>