* {
    font-family: sans-serif;
}

body {
    width: 96%;
    margin: auto;
}

.nav-wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.tille-one {
    color: lightslategray;
}

.search {
    height: 20px;
    width: 200px;
    border-radius: 10px;
    border-radius: 20px 0 0 20px;
}

.btn-search {
    border-radius: 0 20px 20px 0;
    padding: 4px;
}

.balance-container{
   display:flex;
   padding:10px;

}

.balance-container > div{
    align-items: center;
    align-content: center;
    display: flex;
}


#balance{
   background:#0DCAF0;
   border-radius: 10px;
   margin-right:10px;
   margin-left:10px;
   padding: 5px 10px;
}

.btn-nav {
    padding: 5px 10px;
    border: 1px solid darkgreen;
    background: #198754;
    border-radius: 10px;
    color: #fff;
    height: 27px;
    text-decoration: none;
    font-size: 17px;
    align-items: center;
    align-content: center;
}

.btn-submit {
    padding: 5px 10px;
    border: 1px solid #0d6efd;
    background: #0d6efd;
    border-radius: 10px;
    color: #fff;
    align-items: center;
    align-content: center;
}

.box-list {
    border: 2px solid #dee2e6;
    border-radius: 5px;
    padding: 10px;
    height: calc(100vh - 120px);
    overflow-y: scroll !important;
    overflow-x: hidden;
}

.table {
    width: 100%;
}

.table #tbody {
    font-size: 15px;
}

.table #tbody > .tr {
    padding: 10px;
    margin-top: 15px;
    border: 1px solid #dee2e6;
    border-radius: 15px
}

.table > .tr {
    display: flex;
    padding: 10px;
    font-size: 18px;
    font-weight: 900;
}

.table > .tr .td {
    width: 12%;
}